<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <nav>
            <img src="https://w1.pngwing.com/pngs/385/607/png-transparent-canvas-print-blue-delivery-logo-cargo-freight-transport-package-delivery-gallery-wrap-text.png" alt="Logotipo de la Empresa">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Contacto</h1>
        
        <section>
            <h2>Ubicación de la Empresa</h2>
            <!-- Aquí puedes usar un iframe de Google Maps o una imagen estática -->
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.946752310399!2d-3.4804891!3d40.476442999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd423415186a6a71%3A0x87e231f6778b0d7c!2sCentro%20Comercial%20Parque%20Corredor!5e0!3m2!1ses-419!2ses!4v1731342143109!5m2!1ses-419!2ses" 
            width="400" 
            height="300" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        <section>
            <h2>Datos de Contacto</h2>
            <p><strong>Nombre de la Empresa:</strong> MENSAJERIA Y PAQUETERIA FYPOB</p>
            <p><strong> Dirección:</strong>Carretera Torrejón a Ajalvir, s/n, 28850 Torrejón de Ardoz, Madrid</p>
            <p><strong>telefono:</strong> (+34) 641882202</p>
            <p><strong>Email:</strong> <a href="mailto:info@empresa.com">info@MENSAJERIAYPAQUETERIAFYPOB</a></p>
        </section>
    </main>

    <footer>
        <div>
            <p>&copy; 2024 MENSAJERIA Y PAQUETERIA FYPOB. Todos los derechos reservados.</p>
            <div>
                <a href="https://facebook.com"><img src="../img/Facebook.png" alt="Facebook"></a>
                <a href="https://twitter.com"><img src="../img/X.png" alt="Twitter"></a>
            </div>
            <p>Carretera Torrejón a Ajalvir, s/n, 28850 Torrejón de Ardoz, Madrid</p>
            <p><a href="aviso-legal.html">Aviso Legal</a></p>
        </div>
    </footer>
</body>
</html>
