<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de productos de la empresa FYPOB. Encuentra cajas y sobres de diferentes tamaños para envíos y embalaje.">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Productos</title>
</head>
<body>
    <header>
        <nav>
            <img src="https://w1.pngwing.com/pngs/385/607/png-transparent-canvas-print-blue-delivery-logo-cargo-freight-transport-package-delivery-gallery-wrap-text.png" alt="FYPOB">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" class="active">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

        
    <main>
        <h1>Productos</h1>
        <section class="Productos">
            <div class="producto">
                <img src="../img/caja1.jpg" alt="Caja Tamaño Grande">
                <h2>Producto 1: Caja Tamaño Grande</h2>
            </div>
            <div class="producto">
                <img src="../img/caja2.webp" alt="Caja Pequeña">
                <h2>Producto 2: Caja Pequeña</h2>
            </div>
            <div class="producto">
                <img src="../img/sobre2.png" alt="Sobre de Manila">
                <h2>Producto 3: Sobre de Manila</h2>
            </div>
            <div class="producto">
                <img src="../img/sobre1.jpg" alt="Sobre Acolchado">
                <h2>Producto 4: Sobre Acolchado</h2>
            </div>
            <!-- Agrega más productos según sea necesario -->
        </section>
    </main>


    <footer>
        <div>
            <p>&copy; 2024 MENSAJERIA Y PAQUETERIA FYPOB. Todos los derechos reservados.</p>
            <div>
                <a href="https://facebook.com"><img src="../img/Facebook.png" alt="Facebook"></a>
                <a href="https://twitter.com"><img src="../img/X.png" alt="Twitter"></a>
            </div>
            <p>Carretera Torrejón a Ajalvir, s/n, 28850 Torrejón de Ardoz, Madrid</p>
            <p><a href="aviso-legal.html">Aviso Legal</a></p>
        </div>
    </footer>
</body>
</html>
